In [60]:
'''comentando código
comentando código
comentando código
comentando código
comentando código
comentando código'''
#comentar (observações)

'comentando código\ncomentando código\ncomentando código\ncomentando código\ncomentando código\ncomentando código'

In [61]:
nome1 = 
1nome

SyntaxError: invalid decimal literal (3625555884.py, line 2)

In [ ]:
nomeCompleto

In [ ]:
nome_completo

In [69]:
idade1= 20
idade2= 35

In [70]:
idade1 + idade2

55

In [71]:
somaIdades = idade1 + idade2

In [72]:
idade1 - idade2

-15

In [73]:
idade1 * idade2

700

In [74]:
idade1 / idade2

0.5714285714285714

In [75]:
print (somaIdades)

55

In [76]:
idade1 + 10

30

In [77]:
idade1 - 15

5

In [78]:
idade1 * 4

80

In [79]:
idade1 / 5

4.0

In [80]:
calculo1 = 2 *(idade1 + idade2)
#soma das idades  em parêntesis e posteriormente multilicado por 2

In [81]:
calculo2 = 2 * idade1 + 3 * idade2 / 4 
#primeiro dividade a idade2, para depois multiplicar e por fim soma

In [82]:
calculo3 = (2 * idade1 + 3 * idade2) / 4

In [83]:
#P - Parêntesis
#E - Expoente 
#M - Multiplicação
#D - Divisão
#A - Adição
#S - Subtração

In [84]:
print (calculo1)

110

In [85]:
print(calculo1, calculo2, calculo3)

110 66.25 36.25

In [86]:
idade1 **2

400

In [87]:
15**2

225

In [66]:
idade1**3

8000

In [62]:
15**3

3375

In [91]:
idade2 // idade1

1

In [89]:
idade2 / idade1

1.75

In [92]:
idade2 % idade1

15

In [93]:
#variáveis
nome= 'Camila'
sobrenome= 'Dantas'

In [97]:
print(nome + sobrenome)
#O simbolo de + concatena (junta) as variáveis

CamilaDantas

In [99]:
print(nome, sobrenome)
#Vírgula separa as variáveis

Camila Dantas

In [107]:
print(nome + ' '+ sobrenome)

Camila Dantas

In [118]:
print('Olá,', nome, 'você tem', idade1 + 15, 'anos.')

Olá, Camila você tem 35 anos.

In [123]:
print('Olá,',nome, '\n','você tem',idade1 + 15,'anos.')

Olá, Camila
 você tem 35 anos.

In [137]:
idade= input('Digite sua idade:')

In [138]:
print(idade)

35

In [139]:
type(idade)

str

In [144]:
idade= int(input('Digite sua idade:'))

In [145]:
print(idade)

35

In [146]:
type(idade)

int

In [155]:
num1 = 12
num1 -= 1
print(num1)

11

In [156]:
num2 = 12
num2+= 1
print(num2)

13